#login-logo img {
    height: 55px;
}

#layout-logo {
    margin: 10px;
}

#layout-logo img {
    height: 25px;
}

.noBorder {
    border:none;
}

.noBorder:hover {
    border:none;
}

.dataTableNoBorder {
    border:none !important;
}

.dataTableNoBorder tbody tr td {
    border:none !important;
}

.linkColorGray {
    color: #72828B !important;
    text-decoration: none;
}

.linkColorGray:hover {
    text-decoration: underline;
}